<p id="notice"><%= notice %></p>

<button id="New_post_button">New Post</button>
<% post=Post.new %>
<div id="new_p" style="display: none;"><%= render 'posts/form', post: @post %></div> 


<h1>Posts</h1>
<div id="posts_list">
    <% @posts.reverse.each do |post| %>
        <%= render 'posts/postbox', post: post %>
        <br>
    <% end %>
</div>

<br>
