/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notice{
	background-color: transparent;
}

/*posts*/
#post_box{
	border-style: solid;border-width: 2px; padding: 0px;width: 60vw;margin: 0px;
}
#post_head{
background-color: blue;color: white;
text-align: left;padding: 10px;margin: 0px;
font-size: 2em;
}
#post_body{
background-color: white;margin: 0px;
text-align: left;padding: 10px 5vh;
}
#post_links{
background-color: #dad6d6;color: grey;
text-align: left;padding: 10px 5vh;text-decoration: none;font-weight: bold;margin: 0px
}

#post_links a{
background-color: #dad6d6;color: grey;
text-align: left;padding: 10px;text-decoration: none;font-weight: bold;margin: 0px
}

/*comments*/
#comment_box{
	border-color: black; 
	border-width: 2px;background-color:rgba(255,255,0,0.2);border-style: solid;width: 60vw;padding: 0px;
}
#comments{
	background-color: #dad6d6;color: grey;
	text-align: left;padding: 0vh 2vw ;text-decoration: none;font-weight: bold;margin: 0px;
}
#comments a,h4,hr,p{
	background-color: #dad6d6;color: grey;
	text-align: left;text-decoration: none;font-weight: bold;margin: 0px;
}
#new_comment{
	background-color: #dad6d6;color: grey;
	text-align: left;padding: 2vh 4vw ;text-decoration: none;font-weight: bold;
}
