// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
	background-color: #dad6d6;color: grey;
	text-align: left;padding: 0vh 2vw ;text-decoration: none;font-weight: bold;margin: 0px;
	a{
	background-color: #dad6d6;color: grey;
	text-align: left;text-decoration: none;font-weight: bold;margin: 0px;
	}
	h4{
	background-color: #dad6d6;color: grey;
	text-align: left;text-decoration: none;font-weight: bold;margin: 0px;
	}
	hr{
	background-color: #dad6d6;color: grey;
	text-align: left;text-decoration: none;font-weight: bold;margin: 0px;
	}
	p{
	background-color: #dad6d6;color: grey;
	text-align: left;text-decoration: none;font-weight: bold;margin: 0px;
	}
}

.new_comment_box{
	background-color: #dad6d6;color: grey;
	text-align: left;padding: 2vh 4vw ;text-decoration: none;font-weight: bold;
}